<!DOCTYPE html>
<html>


<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- bootstrap core css -->
    @*<link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />*@

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉ số y học</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

</head>*@
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pharsolcal", "Index", "Test")</li>
                    <li>@Html.ActionLink("Danh sách chỉ số", "Index", "Trangchu")</li>
                </ul>
                    @using (Html.BeginForm("Index", "Trangchu", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group"><input type="text" name="strSearch" placeholder="Tìm kiếm chỉ số" class="form-control" /></div>
                        <div class=" = form-group"><button type="submit" class="btn btn-default">Tìm kiếm</button></div>
                    }
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
